@mixin mQ($width) {
    @media (min-width: $width) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 100em;
    background-color: rgb(209, 233, 243);
    .store-component-main {
        background-color: linen;
        display: grid;
        @include mQ(30em) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        .store-card {
            text-align: center;
            border: 1px solid black;
        }
        img {
            height: 5em;
            width: 5em;
            // border: 1em solid black
            @include mQ(30em) {
                height: 7em;
                width: 7em;
            }
            @include mQ(50em) {
                height: 9em;
                width: 9em;
            }
        }
    }
    .checkout-component-main,
    .cart-component-main {
        background-color: linen;
        div {
            margin: 0 3em;
        }
    }
}

button {
    background: lightblue;
    height: 3em;
    width: 7em;
    border: 1px solid blue;
    border-radius: 2em;
    &:hover {
        background-color: orange;
        cursor: grabbing;
    }
}

.action-button {
    background: lightpink;
    height: 3em;
    width: 3em;
}

input {
    height: 2.5em;
    width: 4em;
    text-align: center;
}

header {
    background-color: lightblue;
    height: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1 {
        button {
            background-color: red;
            height: 3em;
            width: 7em;
        }
    }
}

th,
td {
    border: 1px solid black;
}

table {
    text-align: center;
    width: 34em;
}

header {
    // border:  solid blue;
    position: sticky;
    width: 100%;
    height: 3em;
    margin: auto;
    align-items: center;
    a {
        margin-left: 0.5em;
        &:hover {
            background-color: orange;
            cursor: grabbing;
        }
    }
}

.cart-button {
    position: absolute;
    // top: 0;
    right: 0.5em;
    text-decoration: none;
    // border: 1px solid red;
    background: wheat;
    width: 6em;
    color: black;
}

.header-icon {
    text-decoration: none;
    // border: 1px solid red;
    background: wheat;
    width: 6em;
    color: black;
}

footer {
    background: darkslategray;
    text-align: center;
    color: darken($color: white, $amount: 10);
    a {
        padding: 0 0.3em;
        // height: 3em
    }
}
