.card-component-main {
    background-color: lightgray;
    img {
        height: 9em;
        width: 9em;
        // border: 1em solid black
    }
}

header {
    background-color: lightblue;
    height: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h1 {
        button {
            background-color: red;
            height: 3em;
            width: 7em
        }
    }
}

footer {
    background-color: lightgreen;
    height: 5em
}

table, th, td {
    border: 1px solid black
}

table {
    width: 39em
}