@mixin mQ($width) {
    @media (min-width: $width) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 100em;
    background-color: rgb(209, 233, 243);
    .store-component-main {
        background-color: linen;
        display: grid;
        @include mQ(30em) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include mQ(50em) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .store-card {
            text-align: center;
            border: 1px solid black;
            padding: 1em;
            @include mQ(30em) {
                padding: 1.5em;
            }
            @include mQ(50em) {
                padding: 2.5em;
            }
            // position: relative;
            // height: 100%;
            // width: 100%;
        }
    }
    .checkout-component-main,
    .cart-component-main {
        background-color: linen;
        div {
            margin: 0 1em;
            @include mQ(30em) {
                margin: 0 3em;
            }
        }
    }
}

textarea,
.cardnumberelement,
.cardexpiryelement,
.cardcvcelement {
    border-radius: 4px 4px 0 0;
    padding: 12px;
    border: 1px solid rgba(50, 50, 93, 0.1);
    max-height: 44px;
    width: 50%;
    background: white;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.cart-action-container {
    @include mQ(30em) {
        display: grid;
        grid-template-columns: auto auto;
    }
    .cart-action-button-container {
        display: block;
        @include mQ(30em) {
            display: inline;
        }
        .cart-action-button {
            background: lightgreen;
        }
    }
}

button {
    background: lightblue;
    height: 3em;
    width: 7em;
    border: 1px solid blue;
    border-radius: 2em;
    &:hover {
        background-color: orange;
        cursor: grabbing;
    }
}

.action-button {
    background: lightpink;
    height: 3em;
    width: 3em;
}

input {
    height: 2.5em;
    width: 4em;
    text-align: center;
}

th,
td {
    border: 1px solid black;
    // margin-top: 3em;
}

table {
    text-align: center;
    width: 100%;
    @include mQ(30em) {
        width: 90%;
        // max-width: 25em;
    }
    @include mQ(50em) {
        width: 40em;
    }
}

header {
    background-color: rgb(168, 202, 161);
    height: 3.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: sticky;
    width: 100%;
    margin: auto;
    align-items: center;
    h1 {
        button {
            background-color: red;
            height: 3em;
            width: 7em;
        }
    }
    a {
        margin-left: 0.5em;
        &:hover {
            background-color: orange;
            cursor: grab;
        }
    }
}

.cart-button {
    position: absolute;
    // top: 0;
    right: 0.5em;
    text-decoration: none;
    // border: 1px solid red;
    background: wheat;
    width: 6em;
    color: black;
    font-size: 2em;
}

.header-icon {
    text-decoration: none;
    // border: 1px solid red;
    background: wheat;
    width: 6em;
    color: black;
    font-size: 2em;
}

footer {
    background: darkslategray;
    text-align: center;
    color: darken($color: white, $amount: 10);
    a {
        padding: 0 0.3em;
        // height: 3em
    }
}
